<!DOCTYPE html>
<html>
  <head>
    <title>Trang chủ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Trang chủ</h1>
    <p>Chào bạn</p>
    <form action="http://localhost:3000/logout" method="get">
      <div class="col-10">
        <button class="btn btn-primary" type="submit">Đăng xuất</button>
      </div>
   
    </form>
   
  </body>
</html>
