<h1>Nội dung</h1>
<div style="
width: 600px;
margin: 30px auto;
background: #efefef;
border: 1px solid #ccc;
box-shadow: 3px 3px 3px 3px #ccc;
padding: 15px;">
  <%= data.content %>
</div>
<a style="text-decoration: none;" class="d-grid mt-2" href="/send-email/history"><button class="btn btn-danger">Quay lại</button></a>