<!DOCTYPE html>
<html>
  <head>
    <title>Trang chủ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Trang chủ</h1>
    <p>Chào bạn</p>
    <div class="col-10">
      <a href="http://localhost:3000/logout"><button class="btn btn-primary" type="submit">Đăng xuất</button></a>
    </div>
  </body>
</html>
