<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/tutorial.css" />
  </head>
  <body>
    <div class="content">
      <h1>Welcome to Todo App!</h1>

      <ul>
        That some thing you must know:
        <li>This todo app does not require network to use!</li>
        <li>This todo app will NOT save immediately when you make changes!</li>
        <li>This todo app will ONLY save when you leave the page!</li>
        <li>
          This todo app uses localStorage to store data(When leaving the page)!
        </li>
        <li>This todo app uses toastify to make pop-up notifications!</li>
      </ul>

      <h2>So, how can i using this?</h2>
      <h2>Step 1: Create a new todo</h2>
      <p>By typing in the input, submit. You can add new task very easy</p>
      <p>
        If you add a "empty" task, don't worry, you can Update or Delete it!
      </p>
      <img src="../images/step.png" />
      <h2>Step 2: Update a todo</h2>
      <p>
        If you want to update a todo, just Double click on the content of todo
        you want to update.
      </p>
      <p>
        By the "empty" task, if you change the content, you can see the id was
        changed!
      </p>
      <p>So, how about done task? Make it done! or Delete it!</p>
      <img src="../images/step02.png" />
      <h2>Step 3: Make it done!</h2>
      <p>
        If you want to change a status of todo, just One click on the status of
        todo you want to update.
      </p>
      <p>Or, you can Delete it!</p>
      <img src="../images/step03.png" />
      <h2>Step 4: Destroy it!</h2>
      <p>
        If you don't want to change a status of todo, just Double click on the
        ID of todo you want to delete.
      </p>
      <p>Or, you can Change status!</p>
      <p>For now, you can Create new task!</p>
      <img src="../images/step04.png" />
      <h2>Let do it!</h2>
      <p>For now, you can enjoy it. Let do it!</p>
      <p>Hmm, can i Read again?</p>
      <img src="../images/step05.png" />
      <a href="./index.html"><button>Use it now!</button></a>
    </div>
  </body>
</html>
