<!DOCTYPE html>
<html>
  <head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Trang chủ</h1>
    <p>Xin chào Phương</p>
    <a href="/logout">Đăng xuất</a>

  
  </body>
</html>
